<h1 class="text-center">CHAT SOCKET</h1>

<div id="chatContainer">
        <div>
    <input type="text" id="chatBox">
    <button id="botonChat">Enviar</button>
</div>
<div class="messageContainer">
    <div class="bubble">
    <p class="author" id="user"></p>
    <p class="text" id="mensajes"></p>
    <p class="meta" id="tiempo"></p>
</div>
</div>
    </div>
</div>
